.avatar {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pseudoBox {
    top: 20%;
    left: 40%;
    position: absolute;
    width: 280px;
}
body {
    font-family: "times new roman";
    font-weight: bold;
    /* color: #fff; */
    background: url("../images/bg-pattern.png"), #7b4397;
    background: url("../images/bg-pattern.png"),
        linear-gradient(to left, #7b4397, #dc2430);
    /*background-image: url("../images/toureffeil.jpg");*/
}
.espace {
    margin-left: 15px;
}

.attente_jr {
    font-family: "times new roman";
}
