body {
    background: linear-gradient(to top, #969fc1 -47%, #ffffff 44%);
    height: 100vh;
}
.avatar {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#waiting {
    position: absolute;
    top: 45%;
    left: 30%;
    right: 30%;
}
